* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: 18px;
    font-style: italic;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blueviolet;
}

a:visited {
    color: cadetblue;
}

ul {
    list-style: decimal-leading-zero;
}

body {
    background-color: black;
    padding: 30px;
}

main {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.main1 {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .mainContainer1,
.mainContainer2 {
    padding: 10px 20px 20px 20px;
}

main .mainContainer1 p {
    margin: 10px 0 0 0;
}

main .mainContainer1 li {
    margin: 10px 0 0 0;
    position: relative;
}

main .mainContainer1 .p1 {
    font-family: 'Courier New', monospace;
    font-weight: bold;
    font-size: 48px;
    color: rgb(5, 65, 5);
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(40) 1 forwards;
    width: 0;
    max-width: fit-content;
}

main .mainContainer1 .p1::after {
    content: "|";
    display: inline-block;
    width: 0.15em;
    height: 1em;
    margin-left: 5px;
    background-color: rgb(5, 65, 5);
    animation: blink-caret 1s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes blink-caret {
    100% {
        opacity: 0;
    }
}

main .mainContainer1 .p2 {
    font-weight: bold;
    font-size: 22px;
    color: grey;
    position: relative;
}

main .mainContainer1 li:hover {
    text-decoration: underline;
}

.mainContainer21 {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    justify-content: right;
}

.mainContainer21 img {
    width: 50px;
    height: 50px;
}

.img02:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.1) rotate(20deg);
}

.img01:hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(-2px);
    }
}


.main2 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.quote-container {
    width: 300px;
    height: 100px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.quote-container:hover {
    transform: scale(1.1);
}

.quote {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 100%;
}

.quote:before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #f2f2f2;
}

.quote-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.quote-author {
    font-size: 14px;
    font-style: italic;
    color: #888;
}

@media (max-width: 768px) {
    main {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .main1 {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .main2 {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 10px;
    }

    .mainContainer21 {
        justify-content: start;
    }
}