/* PrimeraSeccion */
main .main11A {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    margin: 75px 50px 0 50px;
    display: inline-block;
  }
  
  main .main11B {
    font-size: 24px;
    text-align: left;
    color: #FFFFFF;
    margin: 30px 0px 0 50px;
    display: inline-block;
  }
  
  main .main11C {
    margin: 30px 0px 0 50px;
  }
  
  main .main11D {
    font-size: 11px;
    text-align: left;
    color: #FFFFFF;
    margin: 30px 0px 0 50px;
    display: inline-block;
  }
  
  main .main11C-Button1 {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #000000;
    padding: 14px 32px 14px 32px;
    border: 2px solid #191414;
    border-radius: 40px;
    cursor: pointer;
  }
  
  main .main11C-Button2 {
    width: auto;
    height: auto;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1d75de;
    padding: 14px 32px 14px 32px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    cursor: pointer;
  }